<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
</head>
<body>
	<div>
	<% @courses.each do |c| %>
		<div class="list-group">
			<a href="/courses/<%= c.id %>" class="list-group-item"><%= c.name %> <span class="badge">
				<%= c.posts.count %></span></a>
		</div>
	<% end %>
	</div>
</body>
</html>
