<!DOCTYPE html>
<html>
<head>
  <title>Courses</title>
</head>
<body>
	<div style="margin: auto; padding:2%">
	<% @courses.each do |c| %>
		<div class="list-group" style="width:20%; display:table; margin:auto; margin-bottom:2%;">
			<a href="/courses/<%= c.id %>" class="list-group-item"><%= c.name %> <span class="badge">
				<%= c.posts.count %></span></a>
		</div>
	<% end %>
	</div>
</body>
</html>
