<!DOCTYPE html>
<html>
<head>
  <title>Colleges</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="splash">
		<div class="container">
			<div id="container-wrap">
				<h2>Real Students</h2>
				<h2><span style="letter-spacing: 1.7px">Real Courses</span></h2>
				<h2><span style="letter-spacing: 5px">Real Advice</span></h2>
			</div>
		</div>
	</div>		
	<div>
	<% @colleges.each do |c| %>
		<li><%= link_to c.name, college_path(c) %></li>
	<% end %>
	</div>
</body>
</html>
