<!DOCTYPE html>
<html>
<head>
  <title>Subjects</title>
</head>
<body>
	<div>
		<% @subjects.each do |s| %>
			<div class="list-group">
				<a href="/subject/<%= s.id %>" class="list-group-item"><%= s.name %></a>
			</div>
		<% end %>
	</div>
</body>
</html>
