<!DOCTYPE html>
<html>
<head>
  <title>Course</title>
</head>
<body>
<div class="page-header">
	<h2><%= @user.email %>'s posts:</h2>
		<% @posts.each do |p| %>
			<div class="well">
				<h3>Title: <%= link_to p.title, post_path(p) %></h3>
				<h3>Course name: <%= link_to p.course.name, course_path(p.course) %></h3>
				<p><%= p.content %></p>
			</div>
		<% end %>
	</div>
</body>
</html>

